body {
  background-color: #EAF6F6;
  }
h1 {
  color: #394A6D;
}

h3 {
  color: ##394A6D;
  }

hr{
  border-style: none;
  border-color: white;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  }
